.footer {
    height: 44px;
    padding: 0.8rem 5.2rem;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    color: #1D1D1F;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    color: #000;
    text-decoration: underline;
}

.footer-links {
    display: none;
}

.footer-creator {
    text-align: center;
}

.footer-creator i.fa-arrow-up-right-from-square{
    font-size: 0.62rem;
    margin-left: 2px;
}

.fa-arrow-up-right-from-square:hover .footer-me {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .footer {
        display: block;
        padding: 0;
        margin: 0;
        height: auto;
        padding-top: 1.3rem;
        font-size: 0.85rem;
    }

    .footer .footer-copyright {
        line-height: 20px;
        margin-bottom: 0.5rem;
    }

    .footer-links {
        display: block;
        margin-bottom: -1.1rem;
    }

    .footer-links i{
        padding: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    .footer-creator {
        width: 100%;
    }
}