.App {
    overflow-x: hidden;
}

.card-one-container {
    min-height: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 2rem;
    background-color: #f4f6f6;
    padding: 4rem 0 4rem 5rem;
}

.section {
    background-color: #f4f6f6;
}

.card-one-heading {
    font-size: 75px;
    font-weight: 400;
    padding: 2.5rem 5rem 0 5rem;
    background-color: #f4f6f6;
}

.search-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.search-club {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 30px;
    padding: 0.8rem 1.7rem;
}

.search-club input {
    width: 400px;
    font-size: 1.3rem;
    border: 0;
    background-color: inherit;
}

.search-club input:focus {
    outline: none;
}

.search-club i {
    font-size: 1.4rem;
    color: rgb(66, 66, 66);
    cursor: pointer;
}

.search-club i:hover {
    color: black;
}

@media (max-width: 500px) {
    .card-one-container {
        display: flex;
        flex-direction: column;
        padding: 0; 
        margin: 20px 0px 0px 10px;
    }

    .section {
        padding: 40px 0;
    }

    .card-one-heading {
        padding: 0 0 1.4rem 1rem;
        font-size: 48px;
    }

    .search-container {
        width: 80%;
        padding: 0 2.5rem;
    }

    .search-club {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1rem 0.8rem 1rem;
    }

    .search-club input {
        width: 90%;
    }

    .search-club input::placeholder {
        font-size: 1.1rem;
    }

    .search-club i {
        padding-top: 0.1rem;
        font-size: 1.2rem;
    }
}