.banner-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 9.5rem;
}

.banner-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #1D1D1F;
}

.banner-text h1{
    font-size: 6rem;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 10px;
}

.banner-text .word {
    font-weight: 300;
    font-size: 6rem;
    color: #f56a5d;
}

.banner-img {
    display: none;
}

@media (max-width: 500px) {
    .banner-container {
        padding: 0 2.2rem;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 0;
    }

    .banner-img {
        display: block;
        height: 220px;
        width: 110%;
        margin-bottom: 40px;
    }
    
    .banner-img img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

    .banner-text {
        text-align:center;
        margin-top: -4rem;
    }
    
    .banner-text h1 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
        letter-spacing: 4px;
    }

    .banner-text .word {
        font-size: 24px;
        font-weight: 300;
        color: #f56a5d;
    }
}